
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary: #EB593A;
--secondary:#E73C37;
--text:#121212;
--beige:#B7AB98;
}
.dark{
  --primary: #D1A298;
  --secondary:#E73C37;
  --text:#F4F7FB;
  --beige:#F5E5CB;
}
.dark-theme {
  @apply dark;
}




